body {
  padding-top: 90px;
 
  
}

.banner {
  border-style: solid;
  border-width: 5px;
  border-color: yellow;
  background-color: black;
  height: 90px;

 
}

#title {
  font-family: Bree Serif;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
 overflow: hidden;
}

li {
  float: right;
}

#title {
  float: left;
}
  
a {
  display: block;
  padding: 20px;
  padding-left: 50px;
  padding-right: 50px;}

a {
  text-decoration: none;
}



.active {
  background-color: #4CAF50;
}

li a:hover {
  background-color: #c7c3c3;
}


#navi {
  font-size: 25px;
  color: pink;
}


#inner-box {
  background-color: #8b8989;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 30px;
  padding-top: 45px;
  padding-left:40px;
  padding-right: 30px;
  border-radius: 10px;
}
#introduction {
  font-size: 30px;
  color: white;
}
.smaller-image {
  border-radius: 150%;


}



#port-section {
  background-color: #c1d2d8;
  height: 400px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-bottom: 80px;
  padding-top: 40px;
  padding-left:50px;
  padding-right: 30px;
  border-radius: 10px;
}

#pic1 {
  float: left;
  width: 300px;
}
#pic2 {
  float: right;
  width: 300px;
}
.clearfix {
  clear: both;
}

h1 {
  
  font-size: 30px;
  text-align: center;
}
h2 {
  font-size: 30px;
  text-align: right;
}
#contact {
  background-color: #F7ECE3;
  height: 500px;
  width: 100%;
  margin-right: auto;
  margin-left: auto;
  padding-top: 10px;
  border-radius: 10px;
}

p {
  font-size: 20px;
   
}
input {
  height: 40px;
  width: 300px;
}
.textarea {
  height: 100px;
  width: 350px;
}

i {
  width: 50px;
}
#ending {
  font-size: 10px;
}